{
	auto_https off
}

http://localhost:8080 {
	file_server browse
	log graphite {
		format json
		output graphite {
			server 127.0.0.1
			port 2003
			path "downloads{{ .DirName }}.{{ .FileName }}.count"
			value "1"
			methods GET
		}
	}
}
